body {
    margin: 0;
    padding: 0;
    background-color: #D3D3D3; /* Silber/Gold Hintergrund */
}

.header, .footer {
    position: fixed;
    width: 100%;
    background-color: #ADD8E6; /* Helleres Azurblau */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
}

.header span, .footer span {
    font-size: 24px;
}

.header {
    top: 0;
}

.footer {
    bottom: 0;
}

.red-dark {
    color: #8B0000; /* Dunkleres Rot */
}

.red-light {
    color: #FF6347; /* Helleres Rot */
}