/* Bild Slider */
.slider {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  scroll-behavior: smooth;
}

.slide {
  width: 100%;
}

/* Text zentriert */
.text-container {
  display: flex;
  justify-content: center;
}

.centered-text {
  text-align: center;
}