body {
    background-color: #C0C0C0;
}

h1 {
    color: red;
    text-align: center;
}

p {
    color: #2e5978;
    text-align: center;
}

h2 {
    color: red;
    text-align: center;
}

ul {
    color: #48D1CC;
}
marquee {
    text-align: center;
}